.subscribe {
  width: 1500px;
  height: 500px;
  background: url(../Images/Subscribe/bg_subscribe.png);
  padding-top: 145px; }
  .subscribe .form {
    padding: 0; }
    .subscribe .form .form__input {
      width: 570px;
      height: 55px;
      border: 1px solid #262626;
      background-color: #262626; }
  .subscribe__container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 160px;
    justify-content: center; }
  .subscribe__title {
    width: 305px;
    color: #262626;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700; }
  .subscribe__desc {
    width: 600px;
    color: #262626;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    margin: 30px 0; }
  .subscribe__button {
    width: 170px;
    height: 55px;
    box-shadow: 0 20px 30px rgba(150, 185, 44, 0.3);
    background-color: #96b92c;
    color: #ffffff;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    margin-left: 30px;
    text-transform: uppercase; }
